body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 300px;
  color: white;
  position: relative;
  overflow: hidden;
}

*::selection {
  background-color: #ff691fbb;
}

#artwork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.64);
  z-index: -1;
}

.container {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track-info {
  text-align: center;
}

#title {
  margin: 0;
  font-size: 26px;
  margin-bottom: 8px;
}

#artist {
  margin: 0;
  font-size: 20px;
  color: #cccccc;
  margin-bottom: 8px;
}

#duration {
  margin: 0;
  font-size: 15px;
  color: #afafaf;
}

#downloadBtn {
  width: 100%;
  padding: 12px 0;
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

#downloadBtn:hover {
  background-color: #d64b06;
}
